{% extends 'bajalock/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" id="company-header">
    <div class="row">
        <div class="col-lg-12" id="overlay-text-company" data-aos="fade-in">
            <h5>Our Company</h5>
        </div>
    </div>
</div>

 <!--Delivers section STARTS-->
 <div class="container-fluid" id="delivers">
    <div class="row pcs-5 pt-5">
      <div class="col-lg-7 psy-5 pcs-5" data-aos="fade-in">
        <h2>Striking the perfect balance.</h2>

        <p class="pt-5">Bajolock BV Energy is a scaled unconventional U.S. oil producer with a premier Williston Basin acreage position. Led by a management team with extensive industry experience, Bajolock BV acquires, exploits, develops, and explores for crude oil, natural gas, and natural gas liquids, helping to supply the energy that powers and improves daily life around the world. As a top-tier operator, we create value for our shareholders, opportunities for our team members, and positive impacts in our communities with a commitment to excellence and a continuous improvement approach. Innovation, collaboration, diverse views, and teamwork inform every area of our purpose-driven work that puts the safety and well being of people and the environment first.</p>
      </div>
    </div>
  </div>

  <!--Delivers section ENDS-->

  <!--Operations section STARTS-->

  <div class="container-fluid d-none d-xl-block d-xxl-none" id="company-operations">
    <div class="row px-5 py-5">
      <div class="col-lg-12 px-5" id="image-container">
        <div class="image-left" data-aos="fade-left">
          <img src="{% static 'pictures/operations.png' %}" id="rotate" class="d-block " style="width: 650px; height: 500px;" alt="...">
        </div>

        <div class="company-image-right py-5 px-5">
          <div class="px-5" data-aos="fade-right">
            <h2 class="py-5">Our Mission</h2>
            <p>Responsibly produce hydrocarbons while exercising capital discipline, operating efficiently, improving continuously, and providing a fun and rewarding environment for our employees.</p>
          </div>  
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid d-none d-xl-block d-xxl-none" id="company-operations">
    <div class="row px-5 py-5">
      <div class="col-lg-12 px-5" id="image-container">
        <div class="image-left1" data-aos="fade-left">
          <img src="{% static 'pictures/sustainability.png' %}" id="rotate" class="d-block " style="width: 650px; height: 500px;" alt="...">
        </div>

        <div class="company-image-right1 py-5 px-5">
          <div class="px-5" data-aos="fade-right">
            <h2 class="py-5">Our Vision </h2>
            <p>Lead the oil and gas industry to meet the ever-growing demand for energy. Create opportunities and value for our employees, communities, and shareholders.</p>
          </div>  
        </div>
      </div>
    </div>
  </div>

  <!--Delivers section STARTS-->
 <div class="container-fluid" id="delivers">
    <div class="row pcs-5 pt-5">
      <div class="col-lg-7 psy-5 pcs-5" data-aos="fade-in">
        <h2>Our Foundation</h2>

        <p class="pt-5">When musical notes are played in unison to produce harmony, it's called a Bajolock BV. By bringing together Whiting and Oasis in a merger of equals, we joined two excellent oil and gas operators to strike a new Bajolock BV and create a new harmony in the industry. A Bajolock BV is also a line segment joining two points on a curve, and Bajolock BV combines complementary, high-quality assets and outstanding talent and operational practices. The companies were already strategically like-minded and culturally aligned, so as Bajolock BV, we are ideally positioned to enhance return of capital and generate strong free cash flow, while being responsible stewards of communities and our environment—all in unison.</p>
      </div>
    </div>
  </div>

  <!--Delivers section ENDS-->

  <!--Quick Links section STARTS-->
  <div class="container-fluid" id="quicklinks">
    <div class="row psy-5 psx-5 pcy-2 pcx-2" data-aos="fade-in">
        <div class="col-lg-12">
            <h4>Bajolock BV Energy has the position, scale, and operational flexibility to lead in the Williston Basin.</h4>
        </div>

        <div class="col-lg-4">
            <div class="card-custom h-100 psy-4 psx-5 pcy-2 pcx-2">
              <div class="card-body">
                <h5>Management</h5>
                <p>Our management team's industry experise, experience, and commitment to ESG best practices make us an industry leader for today and tomorrow</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-custom h-100 psy-4 psx-5 pcy-2 pcx-2">
              <div class="card-body">
                <h5>Board of Directors</h5>
                <p>Our board ensures we create value for all of our stakeholders according to the highest ethical standards of governance</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-custom h-100 psy-4 psx-5 pcy-2 pcx-2">
              <div class="card-body">
                <h5>Our Industry</h5>
                <p>As a proud oil and gas operator, Bajolock BV plays a vital role in delivering the energy that enhances our collective quality of life</p>
              </div>
            </div>
          </div>
    </div>
  </div>

  <!--Quick Links section ENDS-->


{% endblock %}