{% extends 'bajalock/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" id="operations-header">
    <div class="row">
        <div class="col-lg-12" id="overlay-text" data-aos="fade-in">
            <h5>Operations</h5>
        </div>
    </div>
</div>

 <!--Delivers section STARTS-->
 <div class="container-fluid" id="delivers">
    <div class="row ps-5 pt-5">
      <div class="col-lg-7 py-5 ps-5" data-aos="fade-in" data-aos-delay="100">
        <h2>A premier operator in the Williston Basin.</h2>

        <p class="pt-5">Bajolock BV Energy is an independent energy company that acquires, exploits, develops, and explores for crude oil, natural gas, and natural gas liquids in the Williston Basin. We are focused primarily on organic drilling activity, both on grassroots oil plays and on the development of previously acquired properties—specifically on projects that provide the opportunity for repeatable success and strong returns. Crude in the Williston Basin is primarily produced by drilling horizontally into known hydrocarbon-bearing formations and then hydraulically stimulating the reservoir rock.</p>
      </div>
    </div>
  </div>

  <!--Delivers section ENDS-->

   <!--Quick Links section STARTS-->
   <div class="container-fluid" id="enhanced">
        <div class="row py-5 px-5" data-aos="fade-in" data-aos-delay="100">
            <div class="col-lg-12">
                <h4>Our enhanced scale combined with high-quality assets, low breakeven pricing, and experienced leadership make us a premier operator in the region.</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="counts">
        <div class="row counters py-5" data-aos="fade-in" data-aos-delay="200">

            <div class="col-lg-12 text-center">
                <h5>Operational Highlights</h5>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center">
                <i class="fa fa-thumbs-o-up orrange" aria-hidden="true"></i>
                <span data-purecounter-start="1000" data-purecounter-end="1261" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span><span>K</span>
                <p>Net Acres</p>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center">
                <i class="fa fa-thumbs-o-up orrange" aria-hidden="true"></i>
                <span data-purecounter-start="1" data-purecounter-end="57" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span><span>%</span>
                <p>HAPPY CLIENTS</p>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center">
                <i class="fa fa-thumbs-o-up orrange" aria-hidden="true"></i>
                <span data-purecounter-start="1" data-purecounter-end="5" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span>
                <p>Operated Rigs</p>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center">
                <i class="fa fa-thumbs-o-up orrange" aria-hidden="true"></i>
                <span data-purecounter-start="1" data-purecounter-end="75" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span><span>%</span>
                <p>Working Interest</p>
            </div>

        </div>
    </div>



    <div class="container-fluid" id="counts">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-in" data-aos-delay="250">
                <img src="{% static 'pictures/drilling-site.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

{% endblock %}