{% extends 'bajalock/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" id="products-header">
    <div class="row">
        <div class="col-lg-12" id="overlay-text" data-aos="fade-in">
            <h5>Products</h5>
        </div>
    </div>
</div>


 <!--Delivers section STARTS-->
 <div class="container-fluid" id="delivers">
    <div class="row ps-5 pt-5">
      <div class="col-lg-7 py-5 ps-5" data-aos="fade-in">
        <h2>Playing our part in the energy solution.</h2>

        <p class="pt-5">The oil and gas industry is part of a diverse mix of energy producers working together to supply essential energy around the world. Access to reliable, affordable energy results in dramatic, long-term improvements in quality of life and impacts all of us daily.</p>
      </div>
    </div>
</div>
<!--Delivers section ENDS-->

<!--Products page section STARTS-->
<div class="container-fluid" id="petroleum-page">
    <div class="row py-5" data-aos="fade-in">
        <div class="col-lg-3 px-5">
            <h3>Petroleum Produts</h3>
            <span class="petroleum-line"></span>
        </div>
        <div class="col-lg-4">
            <p>While transportation and heating fuels are some of the best known products derived from oil and natural gas, a variety of petroleum-based products that we use every day include:</p>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
</div>

<!--Products pictures section STARTS-->

<div class="container-fluid d-none d-xl-block d-xxl-none" id="petroleum-pic">
    <div class="row ps-5">
      <div class="col-lg-6" id="image-container" data-aos="fade-right">
        <div class="image-left">
          <img src="{% static 'pictures/pet.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Plastics, including food packaging, medical devices, helmets, child safety seats, airbags, and electronics</p>
          </div>  
        </div>  
      </div>

      <div class="col-lg-6" id="image-container" data-aos="fade-left">
        <div class="image-left">
          <img src="{% static 'pictures/pet1.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Synthetic fibers used for clothing, furniture, and carpeting</p>
          </div>  
        </div>  
      </div>

      
    </div>
</div>


<div class="container-fluid d-none d-xl-block d-xxl-none" id="petroleum-pic">
    <div class="row ps-5">
      <div class="col-lg-6" id="image-container" data-aos="fade-right">
        <div class="image-left">
          <img src="{% static 'pictures/pet2.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Asphalt used to pave roads for both commercial and private vehicles</p>
          </div>  
        </div>  
      </div>

      <div class="col-lg-6" id="image-container" data-aos="fade-left">
        <div class="image-left">
          <img src="{% static 'pictures/pet3.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Petrochemical uses including detergent, paint, fertilizer, preservatives, and various waxes</p>
          </div>  
        </div>  
      </div>

      
    </div>
</div>

<!--Oil products page section STARTS-->
<div class="container-fluid" id="petroleum-page">
    <div class="row py-5" data-aos="fade-in">
        <div class="col-lg-3 px-5">
            <h3>Oil products</h3>
            <span class="petroleum-line"></span>
        </div>
        <div class="col-lg-4">
            <p>An assortment of different products are derived from refined oil, including gasoline and manufactured items:</p>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
</div>

<!--Oil products pictures section STARTS-->

<div class="container-fluid d-none d-xl-block d-xxl-none" id="petroleum-pic">
    <div class="row ps-5">
      <div class="col-lg-6" id="image-container" data-aos="fade-right">
        <div class="image-left">
          <img src="{% static 'pictures/pet4.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Kerosene for heating, and also for jet fuel—allowing people to travel across the world safely and quickly</p>
          </div>  
        </div>  
      </div>

      <div class="col-lg-6" id="image-container" data-aos="fade-left">
        <div class="image-left">
          <img src="{% static 'pictures/pet5.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Diesel fuel for trucks, trains, and other heavy transportation that enables a large and efficient logistics network</p>
          </div>  
        </div>  
      </div>

      
    </div>
</div>


<div class="container-fluid d-none d-xl-block d-xxl-none" id="petroleum-pic">
    <div class="row ps-5">
      <div class="col-lg-6" id="image-container" data-aos="fade-right">
        <div class="image-left">
          <img src="{% static 'pictures/pet6.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Industrial feedstocks, which enable the production of many home products, such as plastics, waxes, and lubricants</p>
          </div>  
        </div>  
      </div>

      <div class="col-lg-6" id="image-container" data-aos="fade-left">
        <div class="image-left">
          <img src="{% static 'pictures/pet7.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Asphalt for paving roads and fixing pot-holes</p>
          </div>  
        </div>  
      </div>

      
    </div>
</div>

<!--NLNG'S products page section STARTS-->
<div class="container-fluid" id="petroleum-page">
    <div class="row py-5" data-aos="fade-in">
        <div class="col-lg-3 px-5">
            <h3>Natural gas and NGLs</h3>
            <span class="petroleum-line"></span>
        </div>
        <div class="col-lg-4">
            <p>Natural gas and natural gas liquids also shape our daily lives. For example, methane is used to heat our homes and power our stovetops for cooking. Other natural gas elements, known as natural gas liquids (NGLs), are used to make many common items:</p>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
</div>

<!--Oil products pictures section STARTS-->

<div class="container-fluid d-none d-xl-block d-xxl-none" id="petroleum-pic">
    <div class="row ps-5">
      <div class="col-lg-6" id="image-container" data-aos="fade-right">
        <div class="image-left">
          <img src="{% static 'pictures/pet8.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Ethane, used in the production of polyethylene, is a component of many plastics such as bags from the grocery store and water bottles</p>
          </div>  
        </div>  
      </div>

      <div class="col-lg-6" id="image-container" data-aos="fade-left">
        <div class="image-left">
          <img src="{% static 'pictures/pet9.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image-cus">
          <div class="px-5 py-5">
            <p>Propane is used for outdoor heating and cooking, such as BBQ's and camping, and can be used in the production of plastics, such as polypropylene used for plastic furniture, food containers, and household plumbing</p>
          </div>  
        </div>  
      </div>

      
    </div>
</div>


<div class="container-fluid d-none d-xl-block d-xxl-none" id="petroleum-pic">
    <div class="row ps-5">
      <div class="col-lg-6" id="image-container" data-aos="fade-right">
        <div class="image-left">
          <img src="{% static 'pictures/pet10.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Butane is used as an industrial feedstock and for commercial and personal lighters and torches</p>
          </div>  
        </div>  
      </div>

      <div class="col-lg-6" id="image-container" data-aos="fade-left">
        <div class="image-left">
          <img src="{% static 'pictures/pet11.png' %}" id="rotate" class="d-block " style="width: 568.5px; height: 286px;" alt="...">
        </div>

        <div class="petroleum-image">
          <div class="px-5 py-5">
            <p>Natural gasoline is blended with other petroleum products to produce commercial gasoline</p>
          </div>  
        </div>  
      </div>

      
    </div>
</div>

<!--Products pictures section ENDS-->
<!--Products page section ENDS-->

{% endblock %}