{% extends 'bajalock/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" id="sustainability-header">
    <div class="row">
        <div class="col-lg-12" id="overlay-text-sustain" data-aos="fade-in">
            <h5>Sustainability</h5>
        </div>
    </div>
</div>

<div class="container-fluid" id="delivers">
    <div class="row psy-5 pt-5" data-aos="fade-in" data-aos-delay="200">

      <div class="col-lg-12 psx-5">
        <h2>Rooted in our core values, we maintain sustainable energy practices that exemplify our commitment to energy security and availability. Our sustainability highlights demonstrate an ongoing commitment to creating a resilient and prosperous world.</h2>
      </div>

      <div class="col-lg-7 psy-5 pcs-5">
        <h2>Letter from the CEO and Safety and Sustainability Committee Chair</h2>

        <p class="pt-5">Dear Stakeholders,</p>


        <p class="pt-2">At Bajolock BV, our mission is to responsibly produce hydrocarbons while exercising capital discipline, operating efficiently, improving continuously, and providing a fun and rewarding environment for our employees - all while delivering compelling returns for our shareholders. In 2023, our team of dedicated employees excelled, enabling Bajolock BV to return more capital to shareholders than its large-cap peer group while improving methane emissions and safety performance (TRIR) by 44% and 36%, respectively. Bajolock BV  combination with Enerplus in 2024 provides further opportunity for increased scale and financial strength through a premier Williston Basin footprint with a best-in-class balance sheet.</p>

        <h3 class="py-4">Environmental</h3>

        <span>Delivering Reliable Energy with Responsible Practices</span>

        <p class="py-4">Bajolock BV Energy is dedicated to minimizing adverse environmental impact. We aim to reduce methane and Scope 1 emissions, eliminate routine flaring, strive for judicious freshwater use, deliver effective waste management, and execute robust spill prevention programs.</p>

        <h3>Methane Management</h3>

        <p class="py-4">Bajolock BV Energy monitors and reports operated Scope 1 GHG and methane emissions per the EPA's Mandatory Greenhouse Gas Reporting Rule (40 CFR Part 98). GHG emissions data can be found in the Appendix of this report. Data is presented in absolute terms, on a carbon dioxide equivalent basis (CO2e), and in terms of intensity levels relative to Bajolock BV operated production.</p>

        <p><b>Pneumatic Replacement or Retrofit Project</b></p>

        <ul>
            <li>Bajolock BV replaced or retrofitted nearly 7,000 pneumatic devices, which will eliminate more than 230,000 Metric Tons of Carbon Dioxide Equivalent (MTCO2e) of methane emissions annually, equivalent to 50,000 passenger vehicles.</li>
            <li>The completion of all 7,000 retrofits by year end 2023 resulted in a 67% improvement in methane intensity by Dec 2023 compared to 2022.</li>
        </ul>

        <p><b>Improved Gas Capture</b></p>

        <ul>
            <li>We achieved 17% reduction in flaring intensity compared to 2022 through staggered development planning to help avoid gathering system constraints.</li>
            <li>Implemented continuous improvements in operational and equipment performance, and better flare reliability and combustion efficiency.</li>
        </ul>


      </div>
    </div>
  </div>

{% endblock %}